.input-OC__body{
    background: #FCFCFC;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 12px;
    width: 100%;
    outline: none;
    padding: 12px;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #828282;
}