.problems-OC__a, .problems-OC__b, .problems-OC__c{
    padding: 40px 0 0 0;
}
.problems-OC__category-title, .problems-OC__r-a-title{
    font-size: 17px;
    line-height: 23px;
    color: #1A1A1A;
    margin: 0;
}
