.problem-content__sub-and-share{
    margin-top: 30px;
}
.problem-content__comments{
    margin-top: 30px;
}
.problem-content__subscribe{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
    margin: 0 20px 0 0;
}
.problem__share{
    margin-top: 20px;
}
@media screen and (min-width:768px){
    .content__share{
        margin-top: 0px;
    }
}
.problem-content__comment-textarea{
    margin-top: 30px;
}
.problem-content__comment-button{
    margin-top: 30px;
    background: #035AA6;
    border-radius: 12px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 10px;
}
@media screen and (min-width:575px) {
    .problem-content__comment-button{
        width: 250px;
    }
}
.problem-content__top{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #1A1A1A;
    margin: 0 0 30px 0;
}
.problem-content__data{
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #828282;
    margin: 0 0 0 12px;
}
.problem-content__title{
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #1A1A1A;
    margin: 0 0 20px 0;
}
.problem-content__text{
    font-size: 15px;
    line-height: 20px;
    color: #1A1A1A;
    margin: 0 0 20px 0;
}
.problem-content__elements-title{
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #828282;
    margin: 0 0 16px 0;
}
.problem-content__answer-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #1A1A1A;
    margin: 0 0 16px 0;
}
.problem-content__answer-text{
    font-size: 13px;
    line-height: 18px;
    color: #1A1A1A;
    margin: 0;
}