.card-OC{
    background: #fcfcfc;
    box-shadow: 0px 2px 4px rgb(171 171 171 / 10%), 0px 4px 40px rgb(171 171 171 / 12%);
    border-radius: 12px;
    padding: 20px;
}
.card-OC_mt_20{
    margin-top: 20px;
}
