.regions-form .selectize-input{
    padding: 11px;
}
.regions-forms__download .upload-zone__body{
    background: rgba(218,218,218,0.22);
    border: 1px solid #DADADA;
    border-radius: 12px;
    height: 129px;
}
.regions-form__textarea-idea,.regions-form__textarea-effect{
    background: #FCFCFC;
    border: 1px solid #DADADA;
    border-radius: 12px;
    width: 100%;
    outline: none;
    padding: 12px;
    font-size: 13px;
}
.regions-form__textarea-idea{
    height: 135px;
}
.regions-form__textarea-effect{
    height: 100px;
}
.regions-form__titles{
    font-size: 16px;
    line-height: 24px;
    margin:0 0 10px 0;
}
.regions-form__col{
    margin:0 0 15px 0;
}
.regions-form__map-point{
    font-weight: 600;
    font-size: 15px;
    line-height: 40px;
    color: #546F01;
    cursor: pointer;
}
.regions-form__quot{
    margin: 0 0 0 10px;
    color: red;
}
.regions-form__button{
    background: #80A806;
    border-radius: 12px;
    color: #fff;
    padding: 10px 22px;
    margin:30px 0 0 0;
    width: 100%;
}
@media screen and (min-width:480px) {
    .regions-form__button{
        width: 250px;
    }
}
.regions-form__title{
    font-size: 24px;
    line-height: 33px;
    font-weight: bold;
    margin-bottom: 20px;
}