.share-OC{
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.share-OC__title{
    font-size: 13px;
    line-height: 18px;
    color: #828282;
    font-weight: normal;
    margin: 0 12px 0 0;
}
.share-OC__icons{
    height: 22px;
}
.share-OC__url:not(:last-child){
    margin-right: 12px;
}
.share-OC__url{
    display: inline-block;
}
.share-OC__icon{
    width: 22px;
    height: 22px;
    border-radius: 6px;
    background: aqua;
    display: inline-block;
}