.news-OC__a, .news-OC__c{
    padding: 40px 0px 0px;
}
.news-OC__a-top{
    display: flex;
}
.news-OC__a-title, .news-OC__a-url{
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
    color: #1A1A1A;
}
.news-OC__a-url{
    color:#035AA6;
    margin-left: auto;
}
.news-OC__a-bottom{
    margin:20px 0 0 0;
    display: flex;
}
.news-OC__a-button{
    margin-left: auto;
    background: none;
    border: none;
    font-size: 14px;
    line-height: 19px;
    color: #828282;
}
.news-OC__a-body{
    margin: 20px 0 0 0;
}
.news-OC__a-select{

}
.news-OC__a-select {
    display: block;
    /* max-width: 215px; */
    width: 100%;
    position: relative;
}

.news-OC__a-new-select {
    position: relative;
    border: 1px solid #ced4da;
    padding: 10px 15px;
    cursor: pointer;
    user-select: none;
}

.news-OC__a-new-select__list {
    position: absolute;
    top: 45px;
    left: 0;
    border: 1px solid #ced4da;
    cursor: pointer;
    width: 100%;
    z-index: 2;
    background: #fff;
    user-select: none;
}

.news-OC__a-new-select__list.on {
    display: block;
}

.news-OC__a-new-select__item span {
    display: block;
    padding: 10px 15px;
}

.news-OC__a-new-select__item span:hover {
    color: #12b223;
}

.news-OC__a-new-select:after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 9px;
    top: 9px;
    background: url('path-to-image') no-repeat right center / cover;
    opacity: 0.6;

    -webkit-transition: all .27s ease-in-out;
        -o-transition: all .27s ease-in-out;
            transition: all .27s ease-in-out;

    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
}

.news-OC__a-new-select.on:after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
}