.news-OC__a, .news-OC__c{
    padding: 40px 0px 0px;
}
.news-OC__a-top{
    display: flex;
}
.news-OC__a-title, .news-OC__a-url{
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
    color: #1A1A1A;
}
.news-OC__a-url{
    color:#035AA6;
    margin-left: auto;
}
.news-OC__a-bottom{
    margin:20px 0 0 0;
    display: flex;
}
.news-OC__a-button{
    margin-left: auto;
    background: none;
    border: none;
    font-size: 14px;
    line-height: 19px;
    color: #828282;
}
.news-OC__a-body{
    margin: 20px 0 0 0;
}