.main-slider-OC{
    display: none;
    background: #F0F7FE;
}
.main-slider-OC__item{
    outline: none;
    min-height: 300px !important;
}
.main-slider-OC .slick-list{
    position: relative;
}
.main-slider-OC__skeleton{
    background: #F0F7FE;
    height: 700px;
}
@media screen and (min-width:992px) {
    .main-slider-OC__skeleton{
        height: 300px;
    }
}

.main-slider-OC__title{
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    margin-top: 40px;
    margin-bottom: 0;
}
.main-slider-OC__text{
    font-size: 15px;
    line-height: 20px;
    margin: 20px 0 0 0;
    max-width: 585px;
}
@media screen and (max-width:991px) {
    .main-slider-OC__text{
        max-width: 100%;
    }
}
.main-slider-OC__image{
    width: inherit;
    min-height: 230px;
}
.main-slider-OC__button{
    background: #035AA6;
    color: #FFFFFF !important;
    border-radius: 12px;
    height: 40px;
    /* width: 175px; */
    width: 100%;
    padding: 7px;
    margin-top: 24px;
}
@media screen and (min-width:575px) {
    .main-slider-OC__button{
        width: 175px;
    }
}
.main-slider-OC__info{
    margin-top: 24px;
    font-size: 11px;
    line-height: 15px;
    color: #4F4F4F;
}
.main-slider-OC__icon{
    display: inline-block;
    margin-right: 8px;
}
.main-slider-OC__number{
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
}
.main-slider-OC__board{
    display: flex;
    align-items: flex-end;
}
.main-slider-OC__col{
    padding-bottom: 40px;
}