.main-OC__news-comments{
    margin-top: 30px;
}

.main-OC__news-comment-textarea{
    margin-top: 30px;
}
.main-OC__news-comment-button{
    margin-top: 30px;
    background: #035AA6;
    border-radius: 12px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 10px;
}
@media screen and (min-width:575px) {
    .main-OC__news-comment-button{
        width: 250px;
    }
}
.main-OC__news-top{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #1A1A1A;
    margin: 0 0 30px 0;
}
.main-OC__news-data{
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #828282;
    margin: 0 0 0 12px;
}
.main-OC__news-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #1A1A1A;
    margin: 0 0 20px 0;
}
.main-OC__news-text{
    font-size: 15px;
    line-height: 20px;
    color: #1A1A1A;
    margin: 0 0 20px 0;
}
.main-OC__news-img-body{
    text-align: center;
    margin: 0 0 20px 0;
}
.main-OC__news-img{
    max-width: 100%;
}
.main-OC__news-source{
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: rgb(130, 130, 130);
    margin: 0px 0px 20px;
}
.main-OC__news-source-url{
    margin-left: 12px;
}
.main-OC__news-url{
    margin: 20px 0 0 0;
}