.discussion-card-EC__mt-20 {
    margin-top: 20px;
  }
  .discussion-card-EC__card {
    position: relative;
    cursor: pointer;
  }
  .discussion-card-EC__data{
    font-size: 13px;
    line-height: 18px;
    color: #828282;
  }
  .discussion-card-EC__from{
    font-size: 12px;
    line-height: 16px;
    color: #EB5757;
    margin:0 0 20px 0;
  }
  .discussion-card-EC__position{
    margin-bottom: 20px;
  }
  .discussion-card-EC__title {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 0 0 16px 0;
    height: 40px;
  }
  .discussion-card-EC__text {
    font-size: 15px;
    line-height: 20px;
    color: #1a1a1a;
    height: auto;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    margin: 0 0 16px 0;
  }
  .discussion-card-EC__bottom {
    font-size: 13px;
    line-height: 18px;
    color: #828282;
    display: -webkit-flex;
    display: flex;
  }
  .discussion-card-EC__comment-img {
    margin-right: 8px;
    margin-left: 20px;
  }
  .discussion-card-EC__viewed-img {
    margin-right: 8px;
  }
  .discussion-card-EC__like-img{
    margin-left: 20px;
    margin-right: 8px;
  }
  
  .discussion-card-EC__top-img{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 100%;
    width: 100%;
  }
  .discussion-card-EC__term{
    right: -10px;
    top: -5px;
    position: absolute;
    font-size: 12px;
    line-height: 16px;
    padding: 8px 10px;
    color: #54BDE3;
    background: #FFFFFF;
    border: 2px solid #54BDE3;
    box-shadow: 0px 2px 4px rgba(171, 171, 171, 0.53), 0px 4px 40px rgba(171, 171, 171, 0.12);
    border-radius: 6px;
  }