.main-EC__a{
    background: linear-gradient(267.51deg, #54BDE3 0.46%, #56C3E6 59.09%, #04DFBA 115.71%);
    padding: 60px 0;
    color: #FFFFFF;
}
.main-EC__a-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin:0 0 30px 0;
}
.main-EC__a-title-2{
    
}