.news-content__comments{
    margin-top: 30px;
}

.news-content__comment-textarea{
    margin-top: 30px;
}
.news-content__comment-button{
    margin-top: 30px;
    background: #035AA6;
    border-radius: 12px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 10px;
}
@media screen and (min-width:575px) {
    .news-content__comment-button{
        width: 250px;
    }
}
.news-content__top{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #1A1A1A;
    margin: 0 0 30px 0;
}
.news-content__data{
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #828282;
    margin: 0 0 0 12px;
}
.news-content__title{
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #1A1A1A;
    margin: 0 0 20px 0;
}
.news-content__text{
    font-size: 15px;
    line-height: 20px;
    color: #1A1A1A;
    margin: 0 0 20px 0;
}
.news-content__img-body{
    text-align: center;
    margin: 0 0 20px 0;
}
.news-content__img{
    max-width: 100%;
}
.news-content__source{
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: rgb(130, 130, 130);
    margin: 0px 0px 20px;
}
.news-content__source-url{
    margin-left: 12px;
}
.news-content__url{
    margin: 20px 0 0 0;
}