.main-OC__last-comments{
    height: 480px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
@media screen and (min-width:992px) {
    .main-OC__last-comments{
        margin-top: 0px;
    }
}
.main-OC__comments-head{
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
    padding-bottom: 10px;
    border-bottom: 1px solid #BDBDBD;
    margin: 0;
}
.main-OC__comments-body{
    margin-top: 20px;
    overflow: hidden;
    height: 100%;
}
.main-OC__comment-name{
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    margin-bottom: 10px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.main-OC__comment-text{
    font-size: 15px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 10px;
}
.main-OC__comment-category{
    display: flex;
}
.main-OC__category-text{
    font-size: 13px;
    line-height: 18px;
    color: #828282;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.main-OC__category-img{
    background: url("/img/main-OC/chevron-right.png") 50% 100% no-repeat;
    width: 14px;
    margin-left: auto;
}
.main-OC__comment{
    margin-bottom: 20px;
}