.privacy-policy-OC{
    padding: 10px;
}
@media screen and (min-width:768px){
    .privacy-policy-OC{
        padding: 20px;
    }
}
.privacy-policy-OC__main-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    margin: 0;
}
.privacy-policy-OC__title{
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
    margin: 0;
}