.main-OC__services{
    background: #FCFCFC;
    box-shadow: 0px 2px 4px rgba(171, 171, 171, 0.1), 0px 4px 40px rgba(171, 171, 171, 0.12);
    border-radius: 12px;
    padding: 20px;
}
.main-OC__services-title{
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
    color: #1A1A1A;
    margin-bottom: 20px;
}
