.license-agreement-OC{
    padding: 10px;
}
@media screen and (min-width:768px){
    .license-agreement-OC{
        padding: 20px;
    }
}
.license-agreement-OC__title{
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
}