.regions-concepts__a_page_complex{
    background:none ;
    color: inherit;
    padding: 40px 0 0 0;
}
.regions-concepts__a-button_page_complex{
    background: #546F01;
    margin: 20px 0px 20px;
}
.regions-concepts__a-col-right_page_complex{
    padding: 0;
}
