
@media screen and (min-width:768px) {
    .profile-OC__menu{
        width: 300px;
        border-right: 0.3px solid #828282;
    }
}
.profile-OC__title{
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    margin: 0 0 50px 0;
}
.profile-OC__list{
    padding: 0 0 30px 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    border-bottom: 0.3px solid #828282;
}
.profile-OC__list-item{
    cursor: pointer;
    padding: 10px 0;
}
.profile-OC__list-item:not(:last-child){
    margin: 0 0 30px 0;
}
.profile-OC__info-list{
    list-style: none;
    padding: 20px 40px 0 0;
    margin: 0;
}
.profile-OC__info-item{
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
}
.profile-OC__info-item:not(:last-child){
    margin-bottom: 20px;
}
.profile-OC__info{
    margin: 10px 0 0 0;
    font-size: 13px;
    line-height: 18px;
    color: #828282;
}
.profile-OC__menu-icon{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
    margin: 0 12px 0 0;
}
.profile-OC__list-item{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
}
.profile-OC__info-icon{
    margin: 0 12px 0 0;
}
.profile-OC__info-item-top{
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.profile-OC__additional-ul{
    flex-direction: column;
    align-items: start;
    padding-bottom: 0;
}
.profile-OC__additional-li{
    display: flex;
    display: -webkit-flex;
}
.profile-OC__list-2{
    list-style: none;
    padding: 0;
    margin: 0 0 0 32px;
}
.profile-OC__list-item-2{
    padding: 10px 0;
    margin: 30px 0 0 0;
}