.footer-OC{
    font-size: 13px;
    line-height: 18px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer__mb_md-20{
    margin-bottom: 20px;
}
@media screen and (min-width:768px){
    .footer-OC{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .footer__mb_md-20{
        margin-bottom: 0px;
    }
}

.footer-OC__elem{
    margin-bottom: 20px;
}
